{{- /* 自定义头部内容 */ -}}
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/custom.css">
<script src="{{ .Site.BaseURL }}js/thoughts.js" defer></script>

{{- /* 添加Google Analytics（如果配置了ID） */ -}}
{{- with .Site.Config.Services.GoogleAnalytics.ID }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ . }}');
</script>
{{- end }}